/* Bordered form */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    
}

form {
    color: #2b9701;
    border-radius: 1rem;
    width: 100%;
    height: auto;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 1rem;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #2b9701;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 1rem;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  .coymachine {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
  }

  